body {
  background-color: black;
  color: aliceblue;
  display: grid;
  grid-template-areas:
    
    "header"
    "aside"
    "main"
    "footer";
  min-height: 100%;
}


header{
  background-color: #f11;
  color: white;
  grid-area: header;
  padding: 10px;
  border: 1px solid white;
}

aside{
    grid-area: aside;
    padding: 10px;
    border: 1px solid white;
}

main{
    grid-area: main;
    padding: 10px;
    border: 1px solid white;
}

.card{
display: flex;
padding: 10px;
border-radius: 8px;
text-align: center;
}

.card-img img{
  width: 100%;
  border-radius: 8px 8px 0 0;

}

.card-content button{
  border-bottom: #f11;
  background-color: #f11;
  color: white;
  border-radius: 10px;
  border: none;
  width: 100px;
  

}

footer{
    grid-area: footer;
    padding: 10px;
    border: 1px solid white;
}



.titulo{
  display: flex;
  justify-content: space-between;
  line-height: 10px;

}

.titulo img{
  height: 50px;
}

.titulo i{
 
  margin: 20px;
  font-size: 1.6rem;
  justify-content: end;
}

.parrafo{
display: flex;
align-items: center;
}
